python-dotenv==1.1.0
pydantic==2.11.4
pydantic-settings==2.9.1

# FastAPI Libraries
fastapi==0.115.12
uvicorn==0.34.2
httpx==0.28.0

# LLM API Libraries
openai==1.78.0

# Database Libraries
motor==3.3.2
pymongo==4.6.2